@model FarmBook_v7.Models.Crop

@{
    ViewBag.Title = "Create";
}
<script src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Crop</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CropName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CropName)
            @Html.ValidationMessageFor(model => model.CropName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CropLocation)
        </div>

        @*<div class="editor-field">
            @Html.CheckBoxFor(model => model.CropLocation)
            @Html.ValidationMessageFor(model => model.CropLocation)
        </div>*@
        
        <div class="editor-field">
            @Html.EditorFor(model => model.CropLocation)
            @Html.ValidationMessageFor(model => model.CropLocation)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.CropContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CropContent)
            @Html.ValidationMessageFor(model => model.CropContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CropExtra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CropExtra)
            @Html.ValidationMessageFor(model => model.CropExtra)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jquery.validate.js")
    @Scripts.Render("~/bundles/tinymce")
}
