@model FarmBook_v7.Models.Guide
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Guide</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GuideName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuideName)
    </div>

   @* <div class="display-label">
             @Html.DisplayNameFor(model => model.GuideContent)
        </div>
        <div class="display-field">
            @*Html.DisplayFor(model => model.GuideContent)
        </div>*@
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
